# Folder used in durring debuging
/For quantification png/

# File that is generated to test in VSCode
tempCodeRunnerFile.py

# images created or being used
*.png
*.tiff
*.tif
# Folders and files used to try to creating an executable
/build/
/dist/
/__pycache__/
tkinterApp.spec


# virtual environment folder
/tkinterEnv/


# allow folder with sample images
!demo.png
!Sample*.png